spring.profiles.active=dev
spring.thymeleaf.mode=LEGACYHTML5

web.base.url=http://imarketbr.com/


cloud.auth.json.name=imarket-gcloud.json
cloud.pubsub.subscription.market.created.email=send-market-created-email

mail.template.url=https://storage.googleapis.com/mail.imarketbr.com/templates/
mail.sendgrid.api.key=
mail.market.created.from=contato@imarketbr.com
mail.market.created.subject=Informações de login do seu novo mercado

mail.market.created.template=login-created

